<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--Memcached服务器地址-->
  <add key="MemcachedServiceUrl" value="10.191.192.100:11211"/>
  
  <!--Redis服务器地址-->
  <add key="RedisServiceUrl" value="127.0.0.1"/>
  <add key="RedisServicePortNum" value="6379"/>
  
</appSettings>

